.container{
    height: 800px;
    width: 800px;
    background-color: aqua;
}
.box{
    background-color: black;
    width: 100px;
    height: 100px;
}
.box:hover{
    animation-name: myanimation1;
    animation-duration: 2s;
}
@keyframes myanimation1{
    0%{
        background-color: black;
        transform: translate(0px,0px);
    }
    25%{
        background-color: white;
        transform: translate(400px,400px);
    }
}